#top {
    /* margin-top: 4px; */
    color: rgb(254,218,74);
    font-size: 60px;
    margin: 0px;
}

#Luke, #Vader, #OWK, #Maul, #Rey, #Kylo, #Yoda, #Palp {
    height:150px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.row {
    /* margin-top: 10px; */
    margin-bottom: 20px;
}

#textbox {
    color: #a7a094;
    font-size: 20px;
    font-family: 'Star Jedi', serif;
    margin: 0px;
}

#textbox1 {
    display: block;
    /* margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto; */
    color: rgb(254,218,74);
    font-size: 36px
}

#main-container {
    margin: 0px;
}

span.light {
    font: blue
}

span.dark {
    font: red
}

.attackPlaceholder {
    position: absolute;
    right: -30px;
    bottom: 0;
    width: 250px;
    padding: 20px;
    text-align: center;
    background: #999;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: url("https://us.123rf.com/450wm/vitplus/vitplus1601/vitplus160100059/50684523-espace-noir-avec-beaucoup-d-%C3%A9toiles-seamless-texture-fond.jpg?ver=6");
    font-family: 'Star Jedi', serif;
}