#top {
    /* margin-top: 4px; */
    color: rgb(254,218,74);
    font-size: 60px;
    margin: 0px;
}

#Luke, #Vader, #OWK, #Maul, #Rey, #Kylo, #Yoda, #Palp {
    height:150px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative
}

.row {
    /* margin-top: 10px; */
    margin-bottom: 20px;
}

#textbox {
    color: #a7a094;
    font-size: 20px;
    font-family: 'Star Jedi', serif;
    margin: 0px;
}

p {
    font-family: 'Star Jedi', serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin: 0px;
    text-align: center;
}

#goodhp {
    color: green
}

#evilhp {
    color: red
}

#hp {
    color: #a7a094;
    font-family: 'Star Jedi', serif;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    position: fixed
}

#textbox1 {
    display: block;
    /* margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto; */
    color: rgb(254,218,74);
    font-size: 36px
}

#yourhp {
    color: rgb(254,218,74);
    float: left
}

#enemyhp {
    color: rgb(254,218,74);
    float: right
}

#main-container {
    margin: 0px;
}

#light {
    color: lightskyblue
}

#dark {
    color: red
}

#attackerPlaceholder {
    position: absolute;
    left: 500px;
    bottom: 700px;
    width: 10px;
    height: 10px;
    padding: 20px;
    text-align: center;
    /* background: orange; */
}

#defenderPlaceholder {
    position: absolute;
    right: 500px;
    bottom: 300px;
    height: 10;
    width: 10;
    padding: 20px;
    text-align: center;
    /* background: orange; */
}

#rowPlaceholder {
    height: 180px
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: url("https://us.123rf.com/450wm/vitplus/vitplus1601/vitplus160100059/50684523-espace-noir-avec-beaucoup-d-%C3%A9toiles-seamless-texture-fond.jpg?ver=6");
    font-family: 'Star Jedi', serif;
}